.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/darwin_arm64/terraform-provider-azurerm_v4.8.0_x5
